body {
  background-color:  rgb(235, 183, 86);
}

#main {
  display: grid;
  grid-template-columns: auto auto auto;
}

.main-center-head {
  background-color: rgb(61, 23, 23);
  min-width: 580px;
  height: 150px;
  border-radius: 5px;
  position: relative;
  text-align: center;

}
.main-center-head::before {
  border-radius: 5px;
  background: none;
  border: 2px solid white;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

.head {
  min-width: 380px;
  max-width: 400px;
  position: relative;
  margin: 0px auto;
  padding: 30px 0px 0px 0px;
}



h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

#take-survey {
  text-decoration: none;
  display: inline-block;
  background-color: rgb(61, 23, 23);
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  padding: 15px;
  margin-top: 25px;
  position: relative;
}

#take-survey::before {
  border-radius: 5px;
  background: none;
  border: 2px solid whitesmoke;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

.main-center {
  text-align: center;
}

.top-links {
  margin: 10px 10px;
  padding-right: 10px;
}